{% extends 'base.html' %}
{% block title %}
Документ
{% endblock %}

{% block nav %}
Перевод документа
{% endblock %}

{% block body %}
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
<!--src="{{url_for('static', filename='js/drag_drop_files.js') }}"-->

    <div class="file_upload">
         <div class="droparea">
             {% if message %}
                <p class="message">{{ message }}</p>
             {% endif %}
         </div>

        <form method="post">
                <button type="submit" id="trans_btn">ПЕРЕВЕСТИ ФАЙЛ</button>
        </form>
    </div>
<script type="text/javascript" src="{{url_for('static', filename='js/drag_drop_files.js') }}"></script>
{% endblock %}