{% extends 'base.html' %}
{% block title %}
Документ
{% endblock %}

{% block body %}
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<!--<script type="text/javascript">-->
<!--    $(document).ready(function(){-->
<!-- alert(jQuery.fn.jquery);-->
<!-- });-->
<!--</script>-->

<script src="{{url_for('static', filename='js/drag_drop_files.js') }}"></script>

    <div class="file_upload">
         <div class="droparea">
             <p>Drop here</p></div>
         <div class="tablearea" id="tablearea"></div>
    </div>

{% endblock %}