textarea{
  width: 95%;
  height: 200px;
  resize: none;
  border-radius: 0.5em;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  margin: 1em;
  border-style: solid;
  border-color: #4595d4;
  padding: 1em;
}

table td {
  text-align: center;
}

#t-header td {
  width:50%;
  text-align: left;
  padding-left: 3em;
  padding-top: 2em;
  margin:5em;
  border-radius: 0.5em;
}

#outer-table {
  margin-left: auto;
  margin-right: auto;
  width:95%;
}

#outer-table th{
  text-align: left;
}

#inner-table {
  width:100%;
  border-radius: 0.5em;
}

#inner-table td{
  width: 50%;
}

.input-block {
  display:inline-block;
  width: 80%;
  height: 100%;
  position: relative;
  float:right;
  background: #b0ccd4;
  border-radius: 0.5em;
  margin-right: 1em;
}

button {
  background: #061a25;
  height: 50px;
  position: relative;
  width:400px;
  border-radius: 0.5em;
  color:white;
  border-style: none;
  font-size: 16px;
  margin-bottom: 1em;
  margin-top: 1em;
}

button:hover {
  background: rgb(13, 75, 106);
}

button:active {
  background: rgb(54, 90, 212);
}

/*#header_ru {*/
/*  width:420px;*/
/*  background: deeppink;*/
/*}*/

#image {
  height:20px;
  width:20px;
  background: hotpink;

}
