textarea {
  width: 95%;
  height: 200px;
  resize: none;
  border-radius: 0.5em;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  margin: 1em;
  border-style: solid;
  border-color: #4595d4;
  padding: 1em;
}

/*table td {*/
/*  text-align: center;*/
/*}*/

#t-header td {
  width:50%;
  text-align: left;
  padding-left: 3em;
  padding-top: 2em;
  margin:5em;
  border-radius: 0.5em;
}

#outer-table {
  margin-left: auto;
  margin-right: auto;
  width:95%;
}

#outer-table th{
  text-align: left;
}

#inner-table {
  width:100%;
  border-radius: 0.5em;
}

#inner-table td{
  width: 50%;
}

.input-block {
  display:inline-block;
  width: 80%;
  height: 100%;
  position: relative;
  float:right;
  background: #b0ccd4;
  border-radius: 0.5em;
  margin-right: 1em;
}

.btn {
  background: #061a25;
  height: 50px;
  position: relative;
  width:400px;
  border-radius: 0.5em;
  color:white;
  border-style: none;
  font-size: 16px;
  margin-bottom: 1em;
  margin-top: 1em;
}

.btn:hover {
  background: rgb(13, 75, 106);
}

.btn:active {
  background: rgb(54, 90, 212);
}

#image {
  height:20px;
  width:20px;
}

#history-table {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  width: 95%;
  margin-right: 2.5%;
  margin-bottom: 2%;
  /*margin-right: auto;*/
  /*margin-left: auto;*/
  padding: 1em;
  text-align: left;
  background: #0d4b6a;
}

#history-table #recent {
  color: white;
  border-bottom-style: solid;
  border-bottom: 2px;
}

#history-table #empty-recent {
  color: white;
  border-top-style: dashed;
  border-bottom-color: #b0ccd4;
  border-top-width: 2px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

table #add-fav {
  background: #b0ccd4;
  border-style: none;

}

table #fav-col {
  vertical-align: top;
  padding-top: 30px;

}